@font-face{font-family:Economica-Regular;src:url(../fonts/Economica-Regular.ttf);}
@font-face{font-family:OSWALD-BOLD;src:url(../fonts/Economica-Bold.ttf);}
@font-face{font-family:OSWALD-LIGHT;src:url(../fonts/OSWALD-LIGHT.ttf);}
@font-face{font-family:OSWALD-REGULAR;src:url(../fonts/OSWALD-REGULAR.ttf);}


.nav{
background-color:#363855;
    width: 100%

    
}

.nav ul{
    
   list-style-type:none;
    float: right;
    margin-top: 10px;
   margin-right: 185px
    
    
}
.navbar  li{
    display: inline;
    padding: 15px;
   
   
}
.navbar  li a{
    text-transform: uppercase;
    color:#A2CA28;


}


 
.navbar  li a:hover {
    text-decoration: none;
    color: #FD634E;
    
  
    
    
}
.one{
    /*background-color:#565656;*/
    background-color:#A2CA28;
    
    
    
    
}
.right,.left{
    background-color: white;
}
.col-sm-3 h2{
    text-transform: capitalize;
    color: white;
    margin-left: 20px;
    margin-top: -12px;
    font-family: Economica-Regular;
    
}
.col-sm-3 p{
    margin-left: 20px;
    color: white;
    line-height: 1.5em;
    
}
/*.left,.right{
    margin-top: 100px
}*/
@media screen and (max-width: 768px) {
    .two h3 , .h,.fa-tint ,.two h5{
        margin-left: auto
    }
}




.left,.two{
    background-color: white;
   
    }

.left p,.two p,.third,.text p,.color p{
    color:#565656;
    line-height: 1.5em;
    padding-left: 40px;
    
}
.left a,.two a {
text-decoration: underline;
    color:#A2CA28;
    text-transform: capitalize;
    padding-left: 150px

}

.back{
    background-color:#A2CA28;
    height: 250px;
    
    
    
}
.back h1{
    color: white;
    font-family:Economica-Bold;
margin: 40px
   
}
.back p{
    color: white;
    margin: 40px;
    line-height: 1.5em;
   
}
.text,.color{
    height: 300px
    
}
.text{
    background-color: white;
    
}
.text p,.color p{
    margin-left: -15px
}
.color{
    background-color: #A2CA28 /*#64FE2E*/;
}

.end{
    position: relative;
}
.rel h1{
    position: absolute;
    top:30%;
    left: 23%;
    bottom: 0;
    right: 0;
   color: white;
    font-family: OSWALD-BOLD;
    letter-spacing: 3px;
    font-size: 50px
    
}
.rel p{
    position:absolute;
    top:50%;
    left:25%;
    bottom: 0;
    right:30%;
    color: white;
    text-align: center;
    font-family:OSWALD-LIGHT;
    font-size: 25px


}
@media screen and (max-width: 768px) {
    .rel h1 {
        font-size:15px ;
        margin-top: -15px;
        margin-left: -7px
      
    }

    .rel p {
        font-size:10px ;
        
        overflow: hidden;
        
        
    }
}
.footer{
    background-color:#363855;
    height: 250px;
    padding: 20px;
    padding-top: 40px;
    

}
.foot h4{
    color: white;
    padding-bottom: 10px;
    font-family: OSWALD-REGULAR
}
.foot p{
    color:#8297A7;
    line-height: 1.5em;
    
}
.form{
   background-color: #363855;
   padding-top: 180px;
    height: 440px
    
    

}
.name{
    width: 230px;
    height: 50px;
    border: 1px solid #363855;
    border-radius: 10px ;
    text-transform: uppercase;
    padding-left: 5px
}
.email{
  width: 300px;
    height: 50px;
    border: 1px solid #363855;
    border-radius:10px ; 
    text-transform: uppercase;
    padding-left: 5px
}
.btn{
     width: 180px;
    height: 50px;
    background-color:#A2CA28; 
    border: 1px solid #363855;
    border-radius: 10px ;
    text-transform: capitalize;
}

.fa-cloud{
    margin-left: 38px;
    margin-top: 40px;
    color: white;
    font-size: 60px;

}
.fa-tint{
    padding-left: 180px;
    font-size: 40px
}
.fa-facebook-square{
    color:#2E3192;
    font-size: 40px;
    margin-left: 8px;
}

.fa-twitter-square{
    color:#00AEEF;
    font-size: 40px;
    margin-left: 5px;
}
.fa-twitter-square:hover,.fa-youtube-square:hover,.fa-facebook-square:hover,.fa-linkedin-square:hover{
    color:#A2CA28;
}
.fa-youtube-square{
    color:red;
    font-size: 40px;
    margin-left: 5px;}
.fa-facebook-square,.fa-youtube-square,.fa-linkedin-square,.fa-twitter-square{
    animation: rihab 1s ease infinite;
}
@keyframes rihab{
    from{
       transform: scaleY(1.5)
    }
    to{
        
    }
}
.fa-linkedin-square{
    color: darkorange;
     font-size: 40px;
    margin-left: 5px;
    
}
.fa-chevron-circle-left{

    margin-top: 130%;
    margin-left: 150px
    
}
.fa-chevron-circle-right{
    margin-top: 130%;
    margin-right: 150px
}
@media screen and (max-width: 768px) {
    .fa-chevron-circle-right{
        margin-right: 15px
    }
     .fa-chevron-circle-left{
        margin-left: 15px
    }
    .item h3{
        font-size: 12px;
        
    }
    .item p{
        font-size: 10px
    }
    .on img,.right img{
        width:auto
    }
    .form{

   padding-top: 275px;
  
}
    .email{
  width: 230px;
   
}
    .navbar li a{
        width: auto
        display: inline;
        font-size: 10px;
        
    
        
        
            }
    .left h3,.two h3,.three h3{
        font-size: 15px;
        padding:auto
    }
    .left h5 ,.left p,.two h5,.two p,.three h5,.three p{
        font-size: 12px;
        
    }
    
}